/* Custom styles */

    
/*@media screen and (max-width:992px){
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav{
      flex-direction : column ; 
      align-items: flex-start;
    }
}

.navbar {
    width :25% ;
    height : 100vh ; 
    align-items: flex-start;
   
}
.navbar -brand{
    margin-left: .5rem;
    font-size: 1.5em;
    font-weight: bold;
}*/
/*.custom-container {
    max-width: 500px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}*/

.custom-navbar {
    background: linear-gradient(to right, #09203F, #537895) ;
    /*background: linear-gradient(to right, #1de7dd, #1076cf);  Gradient background */
    /*background: linear-gradient(to right, #007bff, #6c757d); /* Gradient background */
}

.custom-navbar .nav-link {
    color: #ffffff;
}
.custom-form {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    /*border: 2px solid #1c324b;  Added border */
    border-radius: 20px;
    background: linear-gradient(to right, #09203F, #537895) ;
}
#work a {
    color: rgb(255, 255, 255);
}
#contactme a {
    color: rgb(255, 255, 255);
}
.custom-form .form-control {
    border: 1px solid #66c3e7;
}
.custom-form label.form-label {
    color: white; /* Set label text color to white */
}
/* Style for pipe separator */
.pipe {
    padding: 0 5px;
    color: rgb(255, 255, 255); /* Pipe color */
}

.custom-container {
    
    /* background: linear-gradient(to right, #1de7dd, #1076cf); Gradient background 
    background: linear-gradient(to right, #2a4bc6, #00d3ff) ; #09203F → #537895*/
    background: linear-gradient(to right, #09203F, #537895) ;
    
    padding: 20px;
    border-radius: 10px;
}
.custom-bg {
    background: linear-gradient(to right, #09203F, #537895) ;
    /*background: linear-gradient(to right, #2a4bc6, #00d3ff) ;
    background: linear-gradient(to right, #1de7dd, #1076cf);  Gradient background */
}
.custom-bg1 {
    background: linear-gradient(to right, #1076cf, #1de7dd); /* Gradient background */
    
}


.custom-bg h2{
    background: linear-gradient(to right, #09203F, #537895) ;
    /* background: linear-gradient(to right, #1076cf, #1de7dd); Gradient background */
    padding: 10px;
    margin-bottom: 20px;
    text-align: center; /* Align text in center */
    border-radius: 20px; /* Add round border */
}


        #about.content{
            position: relative;
        }
        #skills.content {
            display: block;
            height: 100vh; /* Set height to 100% of viewport height */
            position: relative;
        }
        #work.content {
            display: block;
            height: 100vh; /* Set height to 100% of viewport height */
            position: relative;
        }
        
        #contactme.content {
            display: block;
            height: 100vh; /* Set height to 100% of viewport height */
            position: relative;
        }
        .footer {
            background: linear-gradient(to right, #09203F, #537895) ;
            /*background: linear-gradient(to right, #2a4bc6, #00d3ff) ;
            background: linear-gradient(to right, #1de7dd, #1076cf);  Gradient background */
            color: white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        .footer-icons {
            margin-top: 10px;
        }

        .footer-icons a {
            color: white;
            font-size: 24px;
            margin: 0 10px;
        }